VITE_ENV=
GENERATE_SOURCEMAP=

# APPLICATION
VITE_APP_TITLE=
VITE_APP_SYSTEM=
VITE_APP_CODE=
VITE_APP_VERSION_MAJOR=
VITE_APP_VERSION_MEDIUM=
VITE_APP_VERSION_LOW=

# INDEXEDDB
VITE_INDEXEDDB_NAME=
VITE_INDEXEDDB_VERSION=

# INFO
VITE_INFO_URL=
VITE_INFO_MAIL=
VITE_INFO_NAME=
VITE_INFO_FULLNAME=
VITE_INFO_LOCATION=

# META TAGS
VITE_META_TITLE=
VITE_META_DESCRIPTION=
VITE_META_KEYWORDS=
VITE_META_AUTHOR=
VITE_META_CANONICAL=

# META - Open Graph / Twitter / LinkedIn / GitHub
VITE_META_OG_URL=
VITE_META_OG_TITLE=
VITE_META_OG_DESCRIPTION=
VITE_META_OG_IMAGE=

VITE_META_TW_URL=
VITE_META_TW_TITLE=
VITE_META_TW_DESCRIPTION=
VITE_META_TW_IMAGE=

VITE_META_IN_URL=
VITE_META_IN_TITLE=
VITE_META_IN_DESCRIPTION=
VITE_META_IN_IMAGE=

VITE_META_GITHUB_URL=
VITE_META_GITHUB_TITLE=
VITE_META_GITHUB_DESCRIPTION=
VITE_META_GITHUB_IMAGE=

# ENCRYPTION
VITE_REQUIRE_ENCRYPT=
VITE_KEY_ENCRYPT=

# RECAPTCHA
VITE_RECAPTCHA_KEY=

# INSPIREHUB FASTLINK
VITE_VAR_INSPIREHUB_FASTLINK_AUTHBASIC=
VITE_VAR_INSPIREHUB_FASTLINK_URL=
VITE_VAR_INSPIREHUB_FASTLINK_SCHEMA=
VITE_VAR_INSPIREHUB_FASTLINK_ENTITY=
VITE_VAR_INSPIREHUB_FASTLINK_SCHEMA_DESC=
VITE_VAR_INSPIREHUB_FASTLINK_ENTITY_DESC=

# INSPIREHUB GAMES
VITE_VAR_INSPIREHUB_GAMES_SCHEMA=
VITE_VAR_INSPIREHUB_GAMES_ENTITY=
VITE_VAR_INSPIREHUB_GAMES_SCHEMA_DESC=
VITE_VAR_INSPIREHUB_GAMES_ENTITY_DESC=

# INSPIREHUB GAMES - TETRIS
VITE_VAR_INSPIREHUB_GAMESTETRIS_SCHEMA=
VITE_VAR_INSPIREHUB_GAMESTETRIS_ENTITY=
VITE_VAR_INSPIREHUB_GAMESTETRIS_SCHEMA_DESC=
VITE_VAR_INSPIREHUB_GAMESTETRIS_ENTITY_DESC=

# INSPIREHUB GAMES - SNAKE
VITE_VAR_INSPIREHUB_GAMESSNAKE_SCHEMA=
VITE_VAR_INSPIREHUB_GAMESSNAKE_ENTITY=
VITE_VAR_INSPIREHUB_GAMESSNAKE_SCHEMA_DESC=
VITE_VAR_INSPIREHUB_GAMESSNAKE_ENTITY_DESC=

# SUPABASE
VITE_VAR_SUPABASE_URL=
VITE_VAR_SUPABASE_ANON_KEY=
